body {
  font-family: Arial, sans-serif;
  line-height: 1.6;
}

header {
  font-size: 2.5rem;
  text-align: center;
}

#pomodoro-timer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 5rem;
}

#time {
  font-size: 7rem;
}

button {
  margin: 10px;
  padding: 10px;
  font-size: 16px;
}

form {
  display: flex;
  flex-direction: column;
}

main {
  padding: 20px;
}

.button-section {
  display: flex;
}

body {
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  flex-direction: column;
}
